<main class="main">
  <div class="container">
    <div class="buttons">

    </div>
    <div class="item-wrapper">

    </div>
    <div class="comments-wrapper">
      <div class="leave-comment">

      </div>
      <div class="comments">

      </div>
    </div>

    <div class="popup js-popup">
      <div class="popup__inner">
        <button class="popup__close js-popup-close">X</button>
        <div class="popup_fields">
          <input type="text" name="name" class="js-user-name">
          <input type="password" name="password" class="js-password">
          <div class="popup__action js-popup-action">

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
